# Lecture 02: String Manipulation and Python Lists
# Date: 30.05.2021
Instructor:
<br>**Md Shahidullah Kawsar**
<br>Data Scientist
<br>IDARE, Houston, TX, USA

#### Objectives:
1. Logical and membership operators in Python
2. Learn if-elseif-else condition by playing the Blockly games: Bird
3. Learn strig manipulation
4. Python List, slicing, changing, adding and removing list elements

#### References: 
1. https://blockly.games/
2. Python - Strings: https://www.tutorialspoint.com/python/python_strings.htm
3. Data Science workshop: https://github.com/sadat1971/Conducting-Workshop-DATA-SCIENCE/tree/master/lecture_tutorials
4. Python String: https://www.geeksforgeeks.org/python-strings/
5. Python List: https://www.w3schools.com/python/python_lists.asp

Best site to read articles on Data Science: (only 5 articles per month are free)

6. medium.com (require paid subscription)
7. towardsdatascience.com (require paid subscription)

In [1]:
name = "Tasnim Sultana"
birth_year = 1996
height = 160.02
is_she_kind = True

print("Person name : ", name)
print(type(name))

print("Birth Year : ", birth_year)
print(type(birth_year))

print("Height : ", height)
print(type(height))

print("Is she kind? ", is_she_kind)
print(type(is_she_kind))

Person name :  Tasnim Sultana
<class 'str'>
Birth Year :  1996
<class 'int'>
Height :  160.02
<class 'float'>
Is she kind?  True
<class 'bool'>

## Logical operators

In [7]:
#addition
a= 2 
b=5
a+b

7

In [8]:
#subtraction
a=3
b=8
a-b

-5

In [9]:
# Multiplication
a= 5
b= 3
print("a*b = ", a*b)

a*b =  15

In [10]:
# Division
a= 9
b=3
print("a/b = ", a/b)

a/b =  3.0

In [11]:

# Modulus: Divides left hand operand by right hand operand and returns remainder
a= 9
b=8
print("a%b = ", a%b)

a%b =  1

In [12]:
# Floor Division - The division of operands 
# where the result is the quotient in which 
# the digits after the decimal point are removed. 
# But if one of the operands is negative, the result is floored, 
# i.e., rounded away from zero (towards negative infinity)
a= 6
b=4
print("a//b = ", a//b)

a//b =  1

In [13]:
# Exponent: Performs exponential (power) calculation on operators
a=2
b=3
print("a**b = ", a**b)

a**b =  8

## Comparison operators

In [14]:
a = 2
b = 2
c = 9
d = 9
# if both conditions are True, 'and' returns True
# if one of the condition is True, 'or' returnss True
print("a == b and c == d : ", a == b and c == d)
print("a == b or c == d : ", a == b or c == d)
print("not c == d : ", not c == d)

a == b and c == d :  True
a == b or c == d :  True
not c == d :  False

In [3]:
Muna = 1
Mina = 3
Muna == Mina

False

In [4]:
Muna = 1
Mina = 3
Muna < Mina

True

In [5]:
Muna = 1
Mina = 3
Muna > Mina

False

## Membership operators

In [18]:
a = "Muna"
b = "MyMuna"

print("a in b     : ", a in b)
print("a not in b : ", a not in b)
print("b in a     : ", b in a)

a in b     :  True
a not in b :  False
b in a     :  False

In [20]:
a = "Muna"
b = "MyMuna"
c= "JaMuna"
print("a is in b and c- is", a in b and a in c)

a is in b and c- is True

In [21]:
a = "Muna"
b = "MyMuna"
c= "JaMuna"
print("a is in b or c- is", a in b or a in c)

a is in b or c- is True

In [23]:
a = "Muna"
b = "MyMuna"
c= "JaRina"
print("a is in b or c- is", a in b or a in c)

a is in b or c- is True

In [24]:
a = "Muna"
b = "MyRuna"
c= "Jarina"
print("a is in b or c- is", a in b or a in c)

a is in b or c- is False

In [25]:
a = "Muna"
b = "MyMuna"
c= "JaMuna"
print("a is in b and c- is", a in b and a in c)

a is in b and c- is True

## Learn string manipulation

In [40]:
string = "muna"
print(type(string))

<class 'str'>

In [45]:
string = "muna"
print(type(string))

<class 'str'>

- How to capitalize the first character of a string?

In [47]:
string.capitalize()
print(string.capitalize())

Muna

In [49]:
str_count = string.count("un")
print(str_count)

1

In [50]:
name="miami"
new_str_count = name.count("m")
print(new_str_count)

2

- How to find if a string starts or ends with a specific substring?

In [55]:
name="miami"
str_startswith = name.startswith("m")
print(str_startswith)

True

In [56]:
name="miami"
str_endswith = name.endswith("v")

print(str_endswith)

False

In [57]:
name="miami"
stri_endswith = name.endswith("i")
print(stri_endswith)

True

- How to find the index of a specific character in a string?

In [58]:
name="miami"
str_find = name.find("a")
print(str_find)

2

In [60]:
name="miami"
str_index = name.index("i")
print(str_index)

1

- How to convert a string into lower case and upper case characters?

In [61]:
str_lower = name.lower()
print(str_lower)

miami

In [62]:
str_upper = name.upper()
print(str_upper)

MIAMI

- How to remove spaces from a string?

In [64]:
new_name = " Moyna"
str_lstrip = new_name.lstrip()
print(str_lstrip)

Moyna

In [65]:
new_name = "Moyna   "
str_rstrip = new_name.rstrip()
print(str_rstrip)

Moyna

- How to replace a substring inside a string?

In [66]:
str_replace = new_name.replace("a", "b")
print(str_replace)

Moynb

In [ ]:
string = "Moyna2222"

- How to find the presence of an alphanumeric character, alphabet or digit?

In [67]:
str_isalnum = string.isalnum()
print(str_isalnum)

True

In [68]:
str_isalpha = string.isalpha()
print(str_isalpha)

True

In [69]:
str_isdigit = string.isdigit()
print(str_isdigit)

False

In [70]:
str_islower = string.islower()
print(str_islower)

True

In [71]:
str_isspace = string.isspace()
print(str_isspace)

False

In [72]:
str_isupper = string.isupper()
print(str_isupper)

False

## String slicing

In [74]:
string = "My Name is Muna"

print(string[0])
print(string[-1])
print(string[:7])
print(string[7:])
print(string[0:8])
print(string[8:-1])

M
a
My Name
 is Muna
My Name
is Mun

In [76]:
family = ["abbu", 2.24, "ammu", 2.84, "vaia", 2.22, "apu", 2.9]

print(family)
print(family[0])
print(family[1])
print(family[2:4])
print(family[4:6])
print(family[:4])
print(family[4:])
print(family[-2])
print(family[-1])

['abbu', 2.24, 'ammu', 2.84, 'vaia', 2.22, 'apu', 2.9]
abbu
2.24
['ammu', 2.84]
['vaia', 2.22]
['abbu', 2.24, 'ammu', 2.84]
['vaia', 2.22, 'apu', 2.9]
apu
2.9

## List Manipulation:
1. Change list elements
2. Add list elements
3. Remove list elements

In [79]:
# changing list elements
family[7] = 1.45
print(family)

family[0:2] = ["baba", 2.21]
print(family)

['baba', 2.21, 'ammu', 2.84, 'vaia', 2.22, 'apu', 1.45]
['baba', 2.21, 'ammu', 2.84, 'vaia', 2.22, 'apu', 1.45]

In [80]:
# adding list elements
family = family + ["me", 5.2]
print(family)

# removing list elements
del(family[-1])
print(family)

['baba', 2.21, 'ammu', 2.84, 'vaia', 2.22, 'apu', 1.45, 'me', 5.2]
['baba', 2.21, 'ammu', 2.84, 'vaia', 2.22, 'apu', 1.45, 'me']