# Lecture 01: Introduction to Python
# Date: 29.05.2021

Instructor:
<br>**Md Shahidullah Kawsar**
<br>Data Scientist
<br>IDARE, Houston, TX, USA

#### Objectives:
1. Familiarity with Anaconda, jupyter notebook, and Github
2. Learn logical thinking by playing blockly games: Maze
3. Learn about Python data types, Mathematical Operations, Comparison Operators, Logical Operators, and Membership Operators

#### References: 
1. Version 3.7 (preferred) or higher: https://www.python.org/downloads/%7B%7B6%7D%7D
2. Download Anaconda installer: https://www.anaconda.com/products/individual
3. How to Install Anaconda (Python) on Windows 10:
https://www.youtube.com/watch?v=syijLJ3oQzU
4. Easily Install Anaconda Python on MacOS:
https://www.youtube.com/watch?v=V6ZAv7hBH6Y&ab_channel=JustUnderstandingDataJustUnderstandingData
5. https://blockly.games/
6. Python - Basic Operators: https://www.tutorialspoint.com/python/python_basic_operators.htm
7. Data Science workshop: https://github.com/sadat1971/Conducting-Workshop-DATA-SCIENCE/tree/master/lecture_tutorials

- Q1. The sum of two numbers will always be odd. **True** or **False**
      The sum of two even numbers will always be even.
      The sum of two odd numbers will always be even.
      The sum of one even number and one odd number will always be odd.

In [1]:
2+2

4

In [2]:
1+5

6

In [3]:
4+7

11

- Q2. A positive value is always greater than a negative value. **True** or **False**
<br> **True**

In [4]:
6>-3

True

In [5]:
1>-5

True

- Q3. Can you divide a number by zero? **Yes** or **No**
<br> **No**

In [6]:
1/0

ZeroDivisionError: division by zero

In [7]:
0/0

ZeroDivisionError: division by zero

- Q4. If x is less than 1 and y is greater than 1, then x/y is less than 1. **True*** or **False**
<br> **True**

In [8]:
x= 0.9
y= 1.1
x/y

0.8181818181818181

In [9]:
x= -3
y=2
x/y

-1.5

- Q5. The word 'Google' contains 5 unique characters. **True** or **False**
<br> **True**

In [10]:
len('Google')

6

In [12]:
"G"=="g"

False

In [13]:
"o"=="o"

True

- Q6. If x>1 and y>1, then x multiplied by y is greater than 1. **True** or **False**
<br> **True**

In [17]:
#integer
x= 2
y=3
x*y>1

True

In [16]:
#float
x= 1.5
y=1.1
x*y
x*y>1

True

- Q7. The product of two odd numbers and one even number will always be an even number. **True** or **False**
<br> **True**

In [22]:
print(3*5*2)
(3*5*2)%2 == 0

30

True

- Q8. Set A = {1,3,5}, Set B={1,2,3}; Set A intersection Set B = {1,2,3,5}. **True** or **False**
<br> **False**

In [24]:
A= {1,3,5}
B= {1,2,3}
print(A.intersection(B))
print (type(A))

{1, 3}
<class 'set'>

- Q9. A = {1,2,3,1,2,3,12,3}, the number of unique integers present in A are 4. **True** or **False**
<br> **True**

- Q10. 1 is not equal to 1.00. **True** or **False**
<br> **False**

In [25]:
1 != 1.00

False

In [26]:
1 ==1.00

True

In [ ]:
### Python Data Types

<br> **str** : string, text
<br> **int** : integer, numbers
<br> **float** : real numbers, decimal values
<br> **bool** : True or False

In [28]:
name = 'Tasnim Sultana'
print("name : ", name)
#print('type of name is', type(name))

birth_year = 1996
print("birth_year : ", birth_year)
#print('type of birth_year is', type(birth_year))

height = 160.02
print("height : ", height)
#print('type of height is', type(height))

no_1_student = True
print("no_1_student : ", no_1_student)
#print('type of no_1_student is', type(no_1_student))

name :  Tasnim Sultana
birth_year :  1996
height :  160.02
no_1_student :  True

## Mathematical Operations

In [29]:
a = 5 #integer
b = 7 #integer 

# Addition
print("a+b = ", a+b) 

# Multiplication
print("a*b = ", a*b) 

# Subtraction
print("a-b = ", a-b) 

# Modulus: Divides left hand operand by right hand operand and returns remainder
print("a%b = ", a%b) 

# Division
print("a/b = ", a/b)

# Floor Division - The division of operands 
# where the result is the quotient in which 
# the digits after the decimal point are removed. 
# But if one of the operands is negative, the result is floored, 
# i.e., rounded away from zero (towards negative infinity)
print("a//b = ", a//b) 

# Exponent: Performs exponential (power) calculation on operators
print("a**b = ", a**b)

a+b =  12
a*b =  35
a-b =  -2
a%b =  5
a/b =  0.7142857142857143
a//b =  0
a**b =  78125

## Comparison Operators

In [31]:
a = -3
b = 3

print("a == b : ", a == b)
print("a != b : ", a != b)
print("a >= b : ", a >= b)
print("a <= b : ", a <= b)
print("a > b  : ", a > b)
print("a < b  : ", a < b)

a == b :  False
a != b :  True
a >= b :  False
a <= b :  True
a > b  :  False
a < b  :  True